@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .dark3{
    color: rgb(114, 114, 114);
  }
  .btn{
    width: 140px;
    height: 40px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    background-color: rgb(255, 144, 14);
  }

  main{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
  }

  /* header styles */
  .head{
   background-color: rgba(255, 144, 14, 0.1);
  }
  .head-title{
    font-weight: 700;
    font-size: 2.3rem;
  }
  .navbar{
   justify-content: space-between;
   align-items: center;
  }
  .nav-links{
    gap: 30px;
  }
  .navbar, .banner{
    max-width: 1000px;
    margin: 0 auto;
  }
  .banner img{
    width: 100%;
    margin-top: 15px;
  }
  .banner{
    text-align: center;
  }
  .banner-content{
    max-width: 750px;
    margin: 0 auto;
  }
  .banner-title{
    font-weight: 700;
    font-size: 2.7rem;
  }

  /* main section1 */
  .section1{
    align-items: center;
  }
  .img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .img-container img{
    max-width: 230px;
  }
  .skills{
    margin-left: 60px;
    max-width: 400px;
  }
  .skills h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 5px;
  }

/* section2 */

.section2{
  display: flex;
  margin-top: 60px;
  gap: 70px;
  /* background-color: aqua; */
}
.box{
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 15px;
  margin-bottom: 15px;
}
.sec2-title{
  font-size: 2.4rem;
  padding-left: 10px;
  border-left: 5px solid rgb(255, 144, 14);
}
.sec2-div1{
  max-width: 43%;
  margin-right: 30px;
}

.sec2-img img{
  max-width: 100%;
  height: 95%;
}
.btn-large{
  background-color: rgb(255, 144, 14);
  border: none;
  width: 220px;
  height: 130px;
  border-radius: 6px;
  margin: -70px;
}
.btn-title{
  font-size: 40px;
  font-weight: 700;
}
.btn-sub{
  font-size: 20px;
}

/* section3 */

.sec3-title{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.sec3-subtitle{
  max-width: 480px;
  max-height: 40px;
}
.sec3-card-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 3px;
}
.card h5{
  margin-top: 3px;
}
.sec3-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 50px;
  margin-top: 40px;
}
.card{
  border: 1.5px solid rgb(255, 144, 14);
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 9px;
}
  /* section4 */

  .sec4-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .sec4-head{
    text-align: center;
    max-width: 600px;
    margin-left: 130px;
  }
  .sec4-img-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    filter: grayscale(100%);
  }
  .sec4-img-container img{
    max-width: 100px;
    max-height: 45px;
  }

  /* section5 */
  .sec5-div{
    display: grid;
    margin-top: 30px;
    background-color:  rgba(255, 144, 14, 0.1);
    text-align: center;
  }



  @media screen and (max-width:576px){
    .navbar, .nav-links,.section1{
      flex-direction: column;
      gap: 0px;
    }
    .img-container img{
      max-width: 170px;
    }
    .img-container{
      margin-bottom: 30px;
    }
    .skills{
      text-align: center;
     margin: 8px;
    }

    .section2{
      display: block;
    }
    .sec2-div1{
      max-width: 100%;
      text-align: center;
      margin-left: 20px;
    }
    .btn-large{
      background-color: rgb(255, 144, 14);
      border: none;
      width: 220px;
      height: 130px;
      border-radius: 6px;
      margin: 60px;
      margin-left: 80px;
    }
    .sec2-img{
      max-width: 86%;
      margin-left: 25px;
    }
/* section3 */
.section3{
  margin-left: 30px;
}
.sec3-subtitle{
  max-width: 350px ;
}
.sec3-card-container{
  grid-template-columns: repeat(2, 1fr);
  margin-left: 0px;
}
  .card{
    margin-bottom: 15px;
  }
  /* section4 */
  .sec4-head{
    margin-left: 10px;
  }
  .sec4-img-container{
    grid-template-columns: repeat(2,1fr);
    margin-left: 50px;
  }
  .sec4-img-container img{
    max-width: 120px;
    margin-bottom: 20px;

  }
  /* section5 */
  .sec5-div h5{
    font-size: 13px;
  }
   
  }

  